Repository haiilo/catalyst: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - core/src/
    carryforward: true
  angular:
    paths:
      - angular/projects/catalyst/src/
      - angular/projects/catalyst-formly/src/
    carryforward: true

feat(core): fix disabled controls review issue
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
Due: core

feat(core): update visual tests for keyboard handler changes
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-focus-on-group-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-focus-on-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-focus-on-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-select-second-segment-via-keyboard-1-chromium-darwin.png
  core/src/components/cat-segmented-control/cat-segmented-control.screenshot.tsx
Due: core

chore: update reference screenshots
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-focus-on-group-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-select-second-segment-via-keyboard-1-chromium-linux.png
Due: core

chore: gitignore e2e test screenshot files
  .gitignore
Due: none

feat(core): adapt e2e tests
  core/src/components/cat-segmented-control/cat-segmented-control.e2e.tsx
Due: core

feat(core): fix review remarks
  README.md
  core/src/components/cat-segment/cat-segment.spec.tsx
  core/src/components/cat-segment/cat-segment.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
Due: core

feat(core): improve test
  core/src/components/cat-segmented-control/cat-segmented-control.e2e.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
Due: core

feat(core): remove aria-controls
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-segment/cat-segment.spec.tsx
  core/src/components/cat-segment/cat-segment.tsx
  core/src/components/cat-segment/readme.md
Due: core, angular

feat(core): fix tabindex casing
  core/src/components/cat-segment/cat-segment.spec.tsx
  core/src/components/cat-segment/cat-segment.tsx
Due: core

feat(core): improve var name and add tests
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
Due: core

feat(core): refactor mutation check
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
Due: core

feat(core): rename part
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
  core/src/components/cat-segmented-control/readme.md
Due: core

feat(core): regenerate readme
  core/src/components/cat-segmented-control/readme.md
Due: core

Deploying to gh-pages from @ haiilo/catalyst@dffa8f24dea62b559f2103184d6e0195309f7691 🚀
  build/p-13514bb3.entry.js
  build/p-13514bb3.entry.js.map
  build/p-342628ee.entry.js
  build/p-342628ee.entry.js.map
  build/p-9133f366.js
  build/p-b6437c57.js
  index.html
Due: none

chore: support agentic coding (#1013)
  .agents/skills/catalyst-component-development/CONTRACT.md
  .agents/skills/catalyst-component-development/SKILL.md
  .agents/skills/catalyst-onboarding/COMPONENT-ANATOMY.md
  .agents/skills/catalyst-onboarding/GLOSSARY.md
  .agents/skills/catalyst-onboarding/PR-REVIEW.md
  .agents/skills/catalyst-onboarding/REPO-STRUCTURE.md
  .agents/skills/catalyst-onboarding/SKILL.md
  .agents/skills/catalyst-onboarding/TOKENS.md
  .agents/skills/catalyst-onboarding/TROUBLESHOOTING.md
  .agents/skills/catalyst-pr-review/CHECKLIST.md
  .agents/skills/catalyst-pr-review/SKILL.md
  .agents/skills/stenciljs-component-development/SKILL.md
  AGENTS.md
  README.md
Due: none

feat(core): disable render property for cat-select option
  core/src/components/cat-select-demo/cat-select-demo.tsx
  core/src/components/cat-select/__screenshots__/cat-select.screenshot.tsx/cat-select-screenshot-renders-disabled-option-for-multiple-select-1-chromium-darwin.png
  core/src/components/cat-select/__screenshots__/cat-select.screenshot.tsx/cat-select-screenshot-renders-disabled-option-for-single-select-1-chromium-darwin.png
  core/src/components/cat-select/cat-select.e2e.tsx
  core/src/components/cat-select/cat-select.screenshot.tsx
  core/src/components/cat-select/cat-select.scss
  core/src/components/cat-select/cat-select.spec.tsx
  core/src/components/cat-select/cat-select.tsx
Due: core

feat(core): prettier
  core/src/components/cat-select/cat-select.screenshot.tsx
Due: core

chore: update reference screenshots
  core/src/components/cat-select/__screenshots__/cat-select.screenshot.tsx/cat-select-screenshot-renders-disabled-option-for-multiple-select-1-chromium-linux.png
  core/src/components/cat-select/__screenshots__/cat-select.screenshot.tsx/cat-select-screenshot-renders-disabled-option-for-single-select-1-chromium-linux.png
Due: core

feat(core): disable render property for cat-select option (#1030)
  core/src/components/cat-select-demo/cat-select-demo.tsx
  core/src/components/cat-select/__screenshots__/cat-select.screenshot.tsx/cat-select-screenshot-renders-disabled-option-for-multiple-select-1-chromium-darwin.png
  core/src/components/cat-select/__screenshots__/cat-select.screenshot.tsx/cat-select-screenshot-renders-disabled-option-for-multiple-select-1-chromium-linux.png
  core/src/components/cat-select/__screenshots__/cat-select.screenshot.tsx/cat-select-screenshot-renders-disabled-option-for-single-select-1-chromium-darwin.png
  core/src/components/cat-select/__screenshots__/cat-select.screenshot.tsx/cat-select-screenshot-renders-disabled-option-for-single-select-1-chromium-linux.png
  core/src/components/cat-select/cat-select.e2e.tsx
  core/src/components/cat-select/cat-select.screenshot.tsx
  core/src/components/cat-select/cat-select.scss
  core/src/components/cat-select/cat-select.spec.tsx
  core/src/components/cat-select/cat-select.tsx
Due: core

Deploying to gh-pages from @ haiilo/catalyst@30597085dffbc68d2dbcfb52fc0cfa2730c329f3 🚀
  build/p-13514bb3.entry.js
  build/p-13514bb3.entry.js.map
  build/p-9133f366.js
  build/p-a888d614.entry.js
  build/p-a888d614.entry.js.map
  build/p-bdd76ff5.js
  index.html
Due: none

fix(core): start to fix sub menu (needs verification and regression testing)
  core/src/components/cat-dropdown/cat-dropdown.e2e.tsx
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu/cat-menu.e2e.tsx
Due: core

docs(core): add flat docs for segment and segmented-control
  docs/segment.md
  docs/segmented-control.md
Due: none
