Repository haiilo/catalyst: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular

chore: update @angular/build up to 21.2.18 (#1012)
  angular/package.json
  pnpm-lock.yaml
Due: none

chore: create component development skill
  .agents/skills/catalyst-component-development/CONTRACT.md
  .agents/skills/catalyst-component-development/SKILL.md
  .agents/skills/stenciljs-component-development/SKILL.md
Due: none

chore: create onboarding skill
  .agents/skills/catalyst-onboarding/COMPONENT-ANATOMY.md
  .agents/skills/catalyst-onboarding/GLOSSARY.md
  .agents/skills/catalyst-onboarding/PR-REVIEW.md
  .agents/skills/catalyst-onboarding/REPO-STRUCTURE.md
  .agents/skills/catalyst-onboarding/SKILL.md
  .agents/skills/catalyst-onboarding/TOKENS.md
  .agents/skills/catalyst-onboarding/TROUBLESHOOTING.md
Due: none

chore: create agents.md
  AGENTS.md
Due: none

chore: create pr review skill
  .agents/skills/catalyst-pr-review/CHECKLIST.md
  .agents/skills/catalyst-pr-review/SKILL.md
  AGENTS.md
Due: none

chore: create release skill
  .agents/skills/catalyst-release/SKILL.md
  AGENTS.md
Due: none

chore: remove release skill
  .agents/skills/catalyst-release/SKILL.md
Due: none

chore: condense AGENTS.md
  AGENTS.md
Due: none

fix(core): fix tab order for slotted elements with display contents style in firefox
  core/src/components/cat-avatar/cat-avatar.tsx
  core/src/components/cat-menu/cat-menu.tsx
  core/src/components/cat-tooltip/cat-tooltip.tsx
  core/src/utils/deep-active-element.ts
  core/src/utils/patch-slotted-display-contents-tab-order.ts
Due: core

fix(core): exclude elements with delegatesFocus
  core/src/utils/patch-slotted-display-contents-tab-order.ts
Due: core

fix(core): prettier
  core/src/utils/patch-slotted-display-contents-tab-order.ts
Due: core

fix(core): fix tab order for slotted elements with display contents style in firefox (#1022)
  core/src/components/cat-avatar/cat-avatar.tsx
  core/src/components/cat-menu/cat-menu.tsx
  core/src/components/cat-tooltip/cat-tooltip.tsx
  core/src/utils/deep-active-element.ts
  core/src/utils/patch-slotted-display-contents-tab-order.ts
Due: core

Deploying to gh-pages from @ haiilo/catalyst@b41e4bdcb6def06b465d22004a62cfb1c68e6d84 🚀
  build/assets/icons/js/icons.constants.d.ts
  build/assets/icons/js/icons.constants.js
  build/assets/icons/js/icons.object.d.ts
  build/assets/icons/js/icons.object.js
  build/assets/icons/ts/icons.constants.ts
  build/assets/icons/ts/icons.object.ts
  build/p-342628ee.entry.js
  build/p-342628ee.entry.js.map
  build/p-7ced8d2c.entry.js
  build/p-7ced8d2c.entry.js.map
  build/p-97bc2ef0.js
  build/p-b6437c57.js
  index.html
Due: none

feat(core): add segmented control component
  core/src/components.d.ts
  core/src/components/cat-icon/readme.md
  core/src/components/cat-segment/cat-segment.e2e.tsx
  core/src/components/cat-segment/cat-segment.scss
  core/src/components/cat-segment/cat-segment.spec.tsx
  core/src/components/cat-segment/cat-segment.tsx
  core/src/components/cat-segment/readme.md
  core/src/components/cat-segmented-control/cat-segmented-control.e2e.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.scss
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
  core/src/components/cat-segmented-control/readme.md
  core/src/index.html
  react/src/components/stencil-generated/index.ts
Due: core

chore: fix prettier
  core/src/components/cat-segment/cat-segment.scss
  core/src/index.html
Due: core

feat(core): add segmented control screenshot tests
  README.md
  core/.gitignore
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-disabled-group-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-disabled-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-focus-on-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-hover-on-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-renders-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-l-with-active-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-l-with-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-l-with-icon-only-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-l-with-text-and-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-m-with-active-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-m-with-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-m-with-icon-only-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-m-with-text-and-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-s-with-active-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-s-with-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-s-with-icon-only-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-s-with-text-and-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xl-with-active-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xl-with-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xl-with-icon-only-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xl-with-text-and-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xs-with-active-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xs-with-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xs-with-icon-only-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xs-with-text-and-icon-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-with-active-segment-1-chromium-darwin.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-with-overflowing-labels-1-chromium-darwin.png
  core/src/components/cat-segmented-control/cat-segmented-control.screenshot.tsx
Due: core

chore: fix prettier
  core/src/components/cat-segmented-control/cat-segmented-control.screenshot.tsx
Due: core

chore: update reference screenshots
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-disabled-group-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-disabled-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-focus-on-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-hover-on-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-renders-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-l-with-active-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-l-with-icon-only-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-l-with-text-and-icon-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-m-with-active-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-m-with-icon-only-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-m-with-text-and-icon-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-s-with-active-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-s-with-icon-only-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-s-with-text-and-icon-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xl-with-active-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xl-with-icon-only-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xl-with-text-and-icon-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xs-with-active-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xs-with-icon-only-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-size-xs-with-text-and-icon-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-with-active-segment-1-chromium-linux.png
  core/src/components/cat-segmented-control/__screenshots__/cat-segmented-control.screenshot.tsx/cat-segmented-control-screenshot-with-overflowing-labels-1-chromium-linux.png
Due: core

feat(core): add segmented control tests, a11y labels and events
  core/src/components.d.ts
  core/src/components/cat-segment/cat-segment.scss
  core/src/components/cat-segment/cat-segment.spec.tsx
  core/src/components/cat-segment/cat-segment.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.e2e.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
Due: core

feat(core): add segmented control tests, a11y labels and events
  core/src/components.d.ts
  core/src/components/cat-segment/cat-segment.scss
  core/src/components/cat-segment/cat-segment.spec.tsx
  core/src/components/cat-segment/cat-segment.tsx
  core/src/components/cat-segment/readme.md
  core/src/components/cat-segmented-control/cat-segmented-control.e2e.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
  core/src/components/cat-segmented-control/readme.md
Due: core

chore: update readme
  README.md
Due: none

feat(core): add new components to catalyst.module.ts
  angular/projects/catalyst/src/lib/catalyst.module.ts
Due: angular

chore: improve skill
  .agents/skills/catalyst-component-development/SKILL.md
Due: none

feat(core): generate proxies.ts with new components
  angular/projects/catalyst/src/lib/directives/proxies.ts
Due: angular

chore: improve AGENTS.md to guide the user starting with a simple prompt
  AGENTS.md
  README.md
Due: none

chore: refine AGENTS.md to guide the user starting with simple prompt
  AGENTS.md
  README.md
Due: none

chore: remove agents instructions (to be introduced separately)
  .agents/skills/catalyst-component-development/CONTRACT.md
  .agents/skills/catalyst-component-development/SKILL.md
  .agents/skills/catalyst-onboarding/COMPONENT-ANATOMY.md
  .agents/skills/catalyst-onboarding/GLOSSARY.md
  .agents/skills/catalyst-onboarding/PR-REVIEW.md
  .agents/skills/catalyst-onboarding/REPO-STRUCTURE.md
  .agents/skills/catalyst-onboarding/SKILL.md
  .agents/skills/catalyst-onboarding/TOKENS.md
  .agents/skills/catalyst-onboarding/TROUBLESHOOTING.md
  .agents/skills/catalyst-pr-review/CHECKLIST.md
  .agents/skills/catalyst-pr-review/SKILL.md
  .agents/skills/stenciljs-component-development/SKILL.md
Due: none

chore: remove agents instructions (to be introduced separately)
  AGENTS.md
Due: none

chore: reorganize pr review skill into copilot-friendly format, improve content
  .agents/skills/catalyst-pr-review/CHECKLIST.md
  .agents/skills/catalyst-pr-review/SKILL.md
  .github/skills/code-review/CHECKLIST.md
  .github/skills/code-review/SKILL.md
Due: none

chore: copy pr review skills for copilot
  .github/skills/code-review/CHECKLIST.md
  .github/skills/code-review/SKILL.md
Due: none

chore: add hint about code review
  README.md
Due: none

feat(core): fix review remarks
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
Due: core

feat(core): fix review remarks
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
Due: core

chore: run prettier after other test tasks as well
  core/package.json
Due: none

feat(core): refactor for a11y
  core/src/components.d.ts
  core/src/components/cat-segment/cat-segment.spec.tsx
  core/src/components/cat-segment/cat-segment.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
  core/src/components/cat-segmented-control/cat-segmented-control.tsx
Due: core

feat(core): fix a11y issues in demo page
  core/src/index.html
Due: core

test: fix test id
  core/src/components/cat-segmented-control/cat-segmented-control.spec.tsx
Due: core

chore: prettier core
  core/src/index.html
Due: core

feat(core): set button type
  core/src/components/cat-segment/cat-segment.tsx
Due: core

Path conditions:
  core: any of: core/src/
  angular: any of: angular/projects/catalyst/src/, angular/projects/catalyst-formly/src/
