Repository haiilo/catalyst: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular

ci: add CODECOV_TOKEN to coverage workflow
  .github/workflows/angular.yml
  .github/workflows/core.yml
Due: none

feat(core): render options subscription in cat-select
  core/src/components/cat-select/cat-select.spec.tsx
  core/src/components/cat-select/cat-select.tsx
Due: core

feat(core): fix linter
  core/src/components/cat-select/cat-select.spec.tsx
Due: core

feat(core): render options subscription in cat-select (#894)
  core/src/components/cat-select/cat-select.spec.tsx
  core/src/components/cat-select/cat-select.tsx
Due: core

Deploying to gh-pages from @ haiilo/catalyst@585665d1a45f9e48a6ba1000e76eb163ab379dc0 🚀
  build/assets/icons/js/icons.constants.d.ts
  build/assets/icons/js/icons.constants.js
  build/assets/icons/js/icons.object.d.ts
  build/assets/icons/js/icons.object.js
  build/assets/icons/ts/icons.constants.ts
  build/assets/icons/ts/icons.object.ts
  build/p-04f4e775.entry.js
  build/p-04f4e775.entry.js.map
  build/p-15f91e64.entry.js
  build/p-15f91e64.entry.js.map
  build/p-c3d8f996.js
  build/p-ce020eef.js
  index.html
Due: none

fix(core): update readme
  core/src/components/cat-select/readme.md
Due: core

fix(angular): add preserveSymlinks for catalyst demo (#890)
  angular/angular.json
  core/src/components/cat-select/readme.md
Due: core

chore: update dependencies
  angular/package.json
  angular/projects/catalyst-formly/src/lib/formly/formly-checkbox/formly-checkbox.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-date/formly-date.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-datepicker/formly-datepicker.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-input/formly-input.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-radio-group/formly-radio-group.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-radio/formly-radio.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-select/formly-select.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-textarea/formly-textarea.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-toggle/formly-toggle.component.spec.ts
  package.json
  pnpm-lock.yaml
Due: angular

chore: configure dependabot to create groups for angular and security updates
  .github/dependabot.yml
Due: none

chore: update dependencies (#904)
  angular/package.json
  angular/projects/catalyst-formly/src/lib/formly/formly-checkbox/formly-checkbox.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-date/formly-date.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-datepicker/formly-datepicker.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-input/formly-input.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-radio-group/formly-radio-group.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-radio/formly-radio.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-select/formly-select.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-textarea/formly-textarea.component.spec.ts
  angular/projects/catalyst-formly/src/lib/formly/formly-toggle/formly-toggle.component.spec.ts
  package.json
  pnpm-lock.yaml
Due: angular

chore: update pnpm-lock file
  pnpm-lock.yaml
Due: none

chore: update pnpm-lock file (#908)
  pnpm-lock.yaml
Due: none

feat(core): place contentMutationObserver to open method
  core/src/components/cat-dropdown/cat-dropdown.tsx
Due: core

feat(core): fix focusOutHandler
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-menu-item/readme.md
  core/src/components/cat-menu/readme.md
Due: core, angular

feat(core): return back onPostActivate
  core/src/components/cat-dropdown/cat-dropdown.tsx
Due: core

Deploying to gh-pages from @ haiilo/catalyst@61d3a5662f200336ab33c82fde49746280bf7711 🚀
  build/assets/icons/js/icons.constants.d.ts
  build/assets/icons/js/icons.constants.js
  build/assets/icons/js/icons.object.d.ts
  build/assets/icons/js/icons.object.js
  build/assets/icons/ts/icons.constants.ts
  build/assets/icons/ts/icons.object.ts
  build/p-04f4e775.entry.js.map
  build/p-1d8d6ff4.js
  build/p-6e04e50f.entry.js
  build/p-6e04e50f.entry.js.map
  build/p-c3d8f996.js
  index.html
Due: none

feat(core): implement arrow keys navigation in cat-menu
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-dropdown/readme.md
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu-item/readme.md
  core/src/components/cat-menu/cat-menu.tsx
  core/src/components/cat-menu/readme.md
  core/src/index.html
Due: core, angular

feat(core): simplify keydown handler
  core/src/components/cat-menu/cat-menu.tsx
Due: core

feat(core): more clean up
  core/src/components/cat-menu/cat-menu.tsx
Due: core

feat(core): prettier
  core/src/components/cat-menu/cat-menu.tsx
Due: core

fix: update lock file
  pnpm-lock.yaml
Due: none

fix: update lock file (#913)
  pnpm-lock.yaml
Due: none

feat(core): move focusout to cat-menu
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-menu/cat-menu.tsx
Due: core

feat(core): migrate cat-time to cat-menu
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-dropdown/readme.md
  core/src/components/cat-menu-item/cat-menu-item.scss
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu-item/readme.md
  core/src/components/cat-menu/cat-menu.scss
  core/src/components/cat-menu/cat-menu.tsx
  core/src/components/cat-menu/readme.md
  core/src/components/cat-time/cat-time.tsx
  core/src/components/cat-time/readme.md
Due: core, angular

fix: update angular-cli to 21.1.3
  angular/package.json
  pnpm-lock.yaml
Due: none

fix: update angular-cli to 21.1.3 (#916)
  angular/package.json
  pnpm-lock.yaml
Due: none

feat(core): final fixes for cat-menu
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-dropdown/readme.md
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu-item/readme.md
  core/src/components/cat-menu/cat-menu.scss
  core/src/components/cat-menu/cat-menu.tsx
  core/src/components/cat-menu/readme.md
  core/src/components/cat-time/cat-time.scss
  core/src/components/cat-time/cat-time.tsx
Due: core, angular

feat(core): configure fallback axis for cat-dropdown
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
  core/src/components/cat-dropdown/cat-dropdown.tsx
Due: core

feat(core): fix ts issues
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
Due: core

feat(core): prettier
  core/src/components/cat-dropdown/cat-dropdown.tsx
Due: core

feat(core): configure fallback axis for cat-dropdown (#919)
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
  core/src/components/cat-dropdown/cat-dropdown.tsx
Due: core

Deploying to gh-pages from @ haiilo/catalyst@4ab8876ad57fb7ec55fc72f425d72f8400dd4f28 🚀
  build/p-0df8aaa1.entry.js
  build/p-0df8aaa1.entry.js.map
  build/p-1d8d6ff4.js
  build/p-6e04e50f.entry.js
  build/p-6e04e50f.entry.js.map
  build/p-cd50c882.js
  index.html
Due: none

feat(core): arrow navigation for cat-menu
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu/cat-menu.spec.tsx
  core/src/components/cat-menu/cat-menu.tsx
  core/src/components/cat-menu/readme.md
  core/src/components/cat-time/cat-time.tsx
  core/src/index.html
Due: core, angular

feat(core): unit tests
  core/src/components/cat-menu-item/cat-menu-item.spec.tsx
  core/src/components/cat-menu/cat-menu.spec.tsx
Due: core

feat(core): unit tests
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu/cat-menu.spec.tsx
  core/src/index.html
Due: core

feat(core): fix build
  core/src/components/cat-menu/cat-menu.spec.tsx
Due: core

feat(core): more tests
  core/src/components/cat-date/cat-date.tsx
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
Due: core

feat(core): clean up
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu/cat-menu.tsx
  core/src/components/cat-menu/readme.md
  core/src/index.html
  core/src/styles/core/_nav.scss
Due: core, angular

feat(core): prettier
  core/src/index.html
  core/src/styles/core/_nav.scss
Due: core

Path conditions:
  core: any of: core/src/
  angular: any of: angular/projects/catalyst/src/, angular/projects/catalyst-formly/src/
