Repository haiilo/catalyst: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - core/src/
    carryforward: true
  angular:
    paths:
      - angular/projects/catalyst/src/
      - angular/projects/catalyst-formly/src/
    carryforward: true

Deploying to gh-pages from @ haiilo/catalyst@853921196f7fff90139269ed5a36f6d81126a68d 🚀
  build/p-488c6b97.entry.js
  build/p-488c6b97.entry.js.map
  build/p-5239a39e.js
  build/p-f71e74d8.entry.js
  build/p-f71e74d8.entry.js.map
  build/p-ff115508.js
  index.html
Due: none

ci: use PAT
  .github/workflows/core.yml
  .github/workflows/update-screenshots.yml
Due: none

test: update screenshot test
  core/src/components/cat-alert/cat-alert.screenshot.tsx
Due: core

test: fix Commit updated screenshots job step
  .github/workflows/update-screenshots.yml
Due: none

chore: update reference screenshots
  core/src/components/cat-alert/__screenshots__/cat-alert.screenshot.tsx/cat-alert-screenshot-renders-with-success-color-1-chromium.png
Due: core

test: wrap cat-buttons with div with paddings
  core/src/components/cat-button/cat-button.screenshot.tsx
Due: core

test: include platform to screenshot name
  core/vitest.config.mts
Due: none

test: prettier
  core/vitest.config.mts
Due: none

test: update readme
  README.md
Due: none

ci: update dependabot.yml
  .github/dependabot.yml
Due: none

chore: update vitest to 4.1.8
  angular/package.json
  core/package.json
  pnpm-lock.yaml
Due: none

chore: update vitest to 4.1.8 (#995)
  angular/package.json
  core/package.json
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ haiilo/catalyst@4470f5e92f85caf01bafad810b41e6ced75926ed 🚀
  build/assets/icons/js/icons.constants.js
  build/assets/icons/js/icons.object.js
  build/assets/icons/ts/icons.constants.ts
  build/assets/icons/ts/icons.object.ts
  index.html
Due: none

feat: disable autocomplete by default
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-input/cat-input.tsx
  core/src/components/cat-input/readme.md
  core/src/components/cat-select/cat-select.tsx
  core/src/components/cat-select/readme.md
  core/src/components/cat-textarea/cat-textarea.tsx
  core/src/components/cat-textarea/readme.md
  core/src/components/cat-tooltip/cat-tooltip.tsx
Due: core, angular

feat: disable autocomplete by default (#996)
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-input/cat-input.tsx
  core/src/components/cat-input/readme.md
  core/src/components/cat-select/cat-select.tsx
  core/src/components/cat-select/readme.md
  core/src/components/cat-textarea/cat-textarea.tsx
  core/src/components/cat-textarea/readme.md
  core/src/components/cat-tooltip/cat-tooltip.tsx
Due: core, angular

Deploying to gh-pages from @ haiilo/catalyst@0bd858840fb3b77d181b7dd1e4dff34d3c69acc1 🚀
  build/p-754975c2.js
  build/p-a347e70d.entry.js
  build/p-a347e70d.entry.js.map
  build/p-f71e74d8.entry.js
  build/p-f71e74d8.entry.js.map
  build/p-ff115508.js
  index.html
Due: none

feat(core): cat-select added tooltips for truncated options on hover
  core/src/components/cat-select/cat-select.spec.tsx
  core/src/components/cat-select/cat-select.tsx
Due: core

feat(core): cat-select fixed selected item checkbox checked state
  core/src/components/cat-select/cat-select.tsx
Due: core

feat(core): removed tooltip from cat-select on focus
  core/src/components.d.ts
  core/src/components/cat-select-demo/readme.md
  core/src/components/cat-select/cat-select.tsx
  core/src/components/cat-select/readme.md
  core/src/components/cat-tooltip/cat-tooltip.spec.tsx
  core/src/components/cat-tooltip/cat-tooltip.tsx
  core/src/components/cat-tooltip/readme.md
Due: core

feat(core): cr fixes
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components/cat-select/cat-select.tsx
  core/src/components/cat-tooltip/readme.md
Due: core, angular

feat(core): cr fixes
  core/src/components/cat-select/cat-select.tsx
  core/src/components/cat-tooltip/cat-tooltip.tsx
Due: core

feat(core): cr fixes
  core/src/components/cat-select/cat-select.tsx
Due: core

feat(core): cat-select added tooltips for truncated options on hover
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-select-demo/readme.md
  core/src/components/cat-select/cat-select.spec.tsx
  core/src/components/cat-select/cat-select.tsx
  core/src/components/cat-select/readme.md
  core/src/components/cat-tooltip/cat-tooltip.spec.tsx
  core/src/components/cat-tooltip/cat-tooltip.tsx
  core/src/components/cat-tooltip/readme.md
Due: core, angular

Deploying to gh-pages from @ haiilo/catalyst@067657492824159777429efe5284b81aba200493 🚀
  build/p-754975c2.js
  build/p-8a61b956.js
  build/p-a347e70d.entry.js
  build/p-a347e70d.entry.js.map
  build/p-ae0b6ede.entry.js
  build/p-ae0b6ede.entry.js.map
  index.html
Due: none

feat(core): disabled tooltip replaced with empty text tooltip for cat-select
  core/src/components/cat-select/cat-select.tsx
Due: core

feat(core): prettier fix
  core/src/components/cat-select/cat-select.tsx
Due: core

feat(core): disabled tooltip replaced with empty text tooltip for cat-select (#1008)
  core/src/components/cat-select/cat-select.tsx
Due: core

Deploying to gh-pages from @ haiilo/catalyst@3a68bba7c373e56dff964b616bd1f252d88af229 🚀
  build/p-7ced8d2c.entry.js
  build/p-7ced8d2c.entry.js.map
  build/p-8a61b956.js
  build/p-97bc2ef0.js
  build/p-ae0b6ede.entry.js
  build/p-ae0b6ede.entry.js.map
  index.html
Due: none

chore: update angular to 21.2.17
  angular/package.json
  pnpm-lock.yaml
Due: none

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

chore: update angular to 21.2.17 (#1010)
  angular/package.json
  pnpm-lock.yaml
Due: none

chore: remove deprecated @angular/animations and @angular/platform-browser-dynamic
  angular/package.json
  angular/projects/catalyst-demo/src/main.ts
  pnpm-lock.yaml
Due: none

chore: remove deprecated @angular/animations and @angular/platform-browser-dynamic (#1011)
  angular/package.json
  angular/projects/catalyst-demo/src/main.ts
  pnpm-lock.yaml
Due: none

chore: update @angular/build up to 21.2.18
  angular/package.json
  pnpm-lock.yaml
Due: none
