Repository haiilo/catalyst: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - core/src/
    carryforward: true
  angular:
    paths:
      - angular/projects/catalyst/src/
      - angular/projects/catalyst-formly/src/
    carryforward: true

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: configure trusted publishing
  .github/workflows/build-and-publish.yml
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
  .nvmrc
  core/.gitignore
Due: none

test: update @stencil/vitest to 1.11.4
  core/package.json
  package.json
  patches/@stencil__core@4.43.4.patch
  pnpm-lock.yaml
Due: none

ci: combine release and release-beta to one workflow file for npm OIDC
  .github/workflows/build-and-publish.yml
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
Due: none

test: update @stencil/vitest up to 1.11.6
  core/package.json
  core/src/components/cat-alert/cat-alert.spec.tsx
  core/src/components/cat-avatar/cat-avatar.spec.tsx
  core/src/components/cat-badge/cat-badge.spec.tsx
  core/src/components/cat-button-group/cat-button-group.spec.tsx
  core/src/components/cat-button/cat-button.spec.tsx
  core/src/components/cat-card/cat-card.spec.tsx
  core/src/components/cat-checkbox/cat-checkbox.spec.tsx
  core/src/components/cat-date-inline/cat-date-inline.spec.tsx
  core/src/components/cat-date/cat-date.spec.tsx
  core/src/components/cat-datepicker-inline/cat-datepicker-inline.spec.tsx
  core/src/components/cat-datepicker/cat-datepicker.spec.tsx
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
  core/src/components/cat-form-group/cat-form-group.spec.tsx
  core/src/components/cat-form-hint/cat-form-hint.spec.tsx
  core/src/components/cat-i18n/cat-i18n-registry.spec.tsx
  core/src/components/cat-icon/cat-icon-registry.spec.tsx
  core/src/components/cat-icon/cat-icon.spec.tsx
  core/src/components/cat-input/cat-input.spec.tsx
  core/src/components/cat-menu-item/cat-menu-item.spec.tsx
  core/src/components/cat-menu/cat-menu.spec.tsx
  core/src/components/cat-notification/cat-notification.spec.tsx
  core/src/components/cat-pagination/cat-pagination.spec.tsx
  core/src/components/cat-radio-group/cat-radio-group.spec.tsx
  core/src/components/cat-radio/cat-radio.spec.tsx
  core/src/components/cat-scrollable/cat-scrollable.spec.tsx
  core/src/components/cat-select/cat-select.spec.tsx
  core/src/components/cat-skeleton/cat-skeleton.spec.tsx
  core/src/components/cat-spinner/cat-spinner.spec.tsx
  core/src/components/cat-tab/cat-tab.spec.tsx
  core/src/components/cat-tabs/cat-tabs.spec.tsx
  core/src/components/cat-tag/cat-tag.spec.tsx
  core/src/components/cat-textarea/cat-textarea.spec.tsx
  core/src/components/cat-time/cat-time-locale.spec.ts
  core/src/components/cat-time/cat-time.spec.tsx
  core/src/components/cat-toggle/cat-toggle.spec.tsx
  core/src/components/cat-tooltip/cat-tooltip.spec.tsx
  core/vitest.config.ts
  pnpm-lock.yaml
Due: core

test: update @stencil/vitest up to 1.11.6
  patches/@stencil__core@4.43.3.patch
  pnpm-lock.yaml
Due: none

test: prettier
  core/src/components/cat-button/cat-button.spec.tsx
  core/src/components/cat-datepicker/cat-datepicker.spec.tsx
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
  core/src/components/cat-form-hint/cat-form-hint.spec.tsx
  core/src/components/cat-menu/cat-menu.spec.tsx
  core/src/components/cat-select/cat-select.spec.tsx
  core/vitest-setup-plugin.ts
  core/vitest.config.ts
Due: core

test: eslint
  core/eslint.config.js
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
  core/src/components/cat-menu/cat-menu.spec.tsx
Due: core

test: prettier
  core/src/components/cat-menu/cat-menu.spec.tsx
Due: core

test: restore deleted tests and comments
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
  core/src/components/cat-menu-item/cat-menu-item.spec.tsx
  core/src/components/cat-menu/cat-menu.spec.tsx
  core/src/components/cat-select/cat-select.spec.tsx
  core/src/utils/media-matcher.spec.ts
Due: core

test: prettier
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
  core/src/components/cat-select/cat-select.spec.tsx
  core/src/utils/media-matcher.spec.ts
Due: core

feat(core): remove extra complication
  core/src/components/cat-icon/cat-icon-registry.ts
  core/src/components/cat-icon/cat-icon-request.ts
  core/src/components/cat-icon/cat-icon.tsx
Due: core

feat(core): add trigger attributes
  core/src/components/cat-menu/cat-menu.tsx
Due: core

feat(core): add trigger attributes (#978)
  core/src/components/cat-menu/cat-menu.tsx
Due: core

Deploying to gh-pages from @ haiilo/catalyst@c12fd1db48b286d311463c4a078af0651afa015a 🚀
  build/assets/icons/js/icons.constants.d.ts
  build/assets/icons/js/icons.constants.js
  build/assets/icons/js/icons.object.d.ts
  build/assets/icons/js/icons.object.js
  build/assets/icons/ts/icons.constants.ts
  build/assets/icons/ts/icons.object.ts
  build/p-141d2ecf.js
  build/p-4f9c8f54.entry.js
  build/p-4f9c8f54.entry.js.map
  build/p-5698f5b5.js
  build/p-c9624e7e.entry.js
  build/p-c9624e7e.entry.js.map
  index.html
Due: none

feat(core): backword compatibility
  core/src/components/cat-icon/cat-icon-registry.ts
  core/src/components/cat-icon/cat-icon.tsx
  pnpm-lock.yaml
Due: core

feat(core): prettier
  core/src/components/cat-icon/cat-icon-registry.ts
Due: core

chore: configure trusted publishing (#975)
  .github/workflows/build-and-publish.yml
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
  .nvmrc
  core/.gitignore
Due: none

test: remove patches
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/package.json
  core/src/components.d.ts
  core/src/components/cat-input/cat-input.spec.tsx
  core/src/components/cat-menu/readme.md
  core/vitest-setup-plugin.ts
  core/vitest.config.mts
  package.json
  patches/@stencil__core@4.38.3.patch
  patches/@stencil__core@4.42.0.patch
  patches/@stencil__core@4.43.3.patch
  patches/@stencil__core@4.43.4.patch
  pnpm-lock.yaml
Due: core, angular

chore: update md files with new properties
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-menu/readme.md
  pnpm-lock.yaml
Due: core, angular

chore: update md files with new properties (#980)
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-menu/readme.md
  pnpm-lock.yaml
Due: core, angular

Deploying to gh-pages from @ haiilo/catalyst@1d2b2f1bb111df724d34019362f381e8f7f21d7b 🚀
  build/assets/icons/js/icons.constants.d.ts
  build/assets/icons/js/icons.constants.js
  build/assets/icons/js/icons.object.d.ts
  build/assets/icons/js/icons.object.js
  build/assets/icons/ts/icons.constants.ts
  build/assets/icons/ts/icons.object.ts
Due: none

chore: update vitest version
  angular/package.json
  core/package.json
  pnpm-lock.yaml
Due: none

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

fix(core): fix typo
  core/src/components/cat-icon/cat-icon.tsx
Due: core

fix(core): fix docs
  core/src/components/cat-icon/cat-icon-request.ts
Due: core

Potential fix for pull request finding
  core/src/components/cat-icon/cat-icon-registry.ts
Due: core

chore: update eslint config file extension
  core/eslint.config.mjs
Due: none

test: replace kebab case with camel case
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
  core/src/components/cat-menu/cat-menu.spec.tsx
Due: core

Deploying to gh-pages from @ haiilo/catalyst@4053c7c391ec183450adf80bf52b3199bb0bb20a 🚀
  build/catalyst.esm.js.map
  build/index.esm.js.map
  build/loader.esm.js.map
  build/p-1d7e2f55.css
  build/p-3620fa27.js
  build/p-4f9c8f54.entry.js
  build/p-4f9c8f54.entry.js.map
  build/p-5698f5b5.js
  build/p-7uZgmxXB.js
  build/p-7uZgmxXB.js.map
  build/p-87fe1b02.entry.js
  build/p-87fe1b02.entry.js.map
  build/p-BddjcZDJ.js
  build/p-BddjcZDJ.js.map
  build/p-Db1nOa1D.js.map
  build/p-a0957574.css
  index.html
Due: none

test: setup visual tests
  core/package.json
  core/src/components/cat-button/__screenshots__/cat-button.test.tsx/cat-button-matches-screenshot-1-chromium.png
  core/vitest-setup-dist.ts
  core/vitest.config.mts
  pnpm-lock.yaml
Due: core

test: setup visual tests
  core/src/components/cat-button/cat-button.screenshot.tsx
Due: core

test: fix screenshot
  core/src/components/cat-button/__screenshots__/cat-button.screenshot.tsx/cat-button-matches-screenshot-1-chromium.png
Due: core

test: add global css to screenshots setup
  core/src/components/cat-alert/__screenshots__/cat-alert.screenshot.tsx/cat-alert-screenshot-renders-with-success-color-1-chromium.png
  core/src/components/cat-alert/cat-alert.screenshot.tsx
  core/src/components/cat-button/__screenshots__/cat-button.screenshot.tsx/cat-button-matches-screenshot-1-chromium.png
  core/vitest-setup-screenshots.ts
  core/vitest.config.mts
Due: core

test: fix config
  core/vitest.config.mts
Due: none

test: fix config
  core/eslint.config.mjs
Due: none

test: upload screenshot artifacts
  .github/workflows/core.yml
Due: none

test: include-hidden-files
  .github/workflows/core.yml
Due: none
