Repository haiilo/catalyst: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular

chore: update angular cli up to 21.1.5 (#928)
  angular/package.json
  pnpm-lock.yaml
Due: none

feat(core): add eslint-plugin-jsx-a11y and fix accessibility violations
  core/eslint.config.js
  core/package.json
  core/src/components/cat-date-inline/cat-date-inline.tsx
  core/src/components/cat-i18n/cat-i18n-registry.ts
  core/src/components/cat-input/cat-input.tsx
  core/src/components/cat-radio/cat-radio.tsx
  core/src/components/cat-select/cat-select.tsx
  core/src/components/cat-tag/cat-tag.tsx
  pnpm-lock.yaml
Due: core

feat(core): add axe-core E2E accessibility testing
  core/package.json
  core/src/components/cat-button/cat-button.e2e.ts
  core/src/utils/a11y-test.ts
  pnpm-lock.yaml
Due: core

fix(core): update cat-tag spec test for aria-controls attribute
  core/src/components/cat-tag/cat-tag.spec.tsx
Due: core

style: fix prettier formatting
  core/eslint.config.js
  core/src/components/cat-select/cat-select.tsx
Due: core

chore: configure dependabot to create groups for angular and security updates (#905)
  .github/dependabot.yml
Due: none

feat(core): cat-menu (#910)
  angular/projects/catalyst/src/lib/catalyst.module.ts
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-button/readme.md
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-dropdown/readme.md
  core/src/components/cat-menu-item/cat-menu-item.spec.tsx
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu-item/readme.md
  core/src/components/cat-menu/cat-menu.scss
  core/src/components/cat-menu/cat-menu.spec.tsx
  core/src/components/cat-menu/cat-menu.tsx
  core/src/components/cat-menu/readme.md
  core/src/components/cat-time/cat-time.scss
  core/src/components/cat-time/cat-time.tsx
  core/src/components/cat-time/readme.md
  core/src/index.html
  core/src/index.ts
  core/src/styles/core/_nav.scss
  react/src/components/stencil-generated/index.ts
Due: core, angular

Deploying to gh-pages from @ haiilo/catalyst@c966b1d2192655da81e99f66aab3fad32f66e724 🚀
  build/assets/icons/js/icons.constants.d.ts
  build/assets/icons/js/icons.constants.js
  build/assets/icons/js/icons.object.d.ts
  build/assets/icons/js/icons.object.js
  build/assets/icons/ts/icons.constants.ts
  build/assets/icons/ts/icons.object.ts
  build/catalyst.css
  build/p-376c1132.js
  build/p-76436f4e.entry.js
  build/p-76436f4e.entry.js.map
  build/p-7uZgmxXB.js
  build/p-7uZgmxXB.js.map
  build/p-8db7d388.css
  build/p-8ecada9a.entry.js
  build/p-8ecada9a.entry.js.map
  build/p-93de2393.js
  build/p-CFGROHMy.js
  build/p-CFGROHMy.js.map
  index.html
Due: none

test(core): add some e2e tests
  core/src/components/cat-checkbox/cat-checkbox.e2e.ts
  core/src/components/cat-input/cat-input.e2e.ts
  core/src/components/cat-toggle/cat-toggle.e2e.ts
Due: core

feat(core): add value to catChange event of cat-select (#836)
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-select/cat-select.tsx
  core/src/components/cat-select/readme.md
  core/src/index.ts
Due: core, angular

Deploying to gh-pages from @ haiilo/catalyst@ac57fd5cdbb9752aec181376b17f9ee2d494ee12 🚀
  build/p-10d46b63.entry.js
  build/p-10d46b63.entry.js.map
  build/p-218fb888.js
  build/p-8ecada9a.entry.js
  build/p-8ecada9a.entry.js.map
  build/p-93de2393.js
  index.html
Due: none

feat(core): fix prettier
  core/src/index.html
Due: core

fix(core): set cursor default for disabled cat-button host (#923)
  core/src/styles/core/sanitize-overwrite.scss
  core/src/styles/index.scss
Due: core

Deploying to gh-pages from @ haiilo/catalyst@c9bdf385692a5814fb89c970b9c1ea4f1f0e4378 🚀
  build/catalyst.css
  build/p-1d7e2f55.css
  index.html
Due: none

fix(core): fix dependabot.yml
  .github/dependabot.yml
Due: none

feat(core): make button links behave as inline elements (#855)
  .github/dependabot.yml
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-button/cat-button.scss
  core/src/components/cat-button/cat-button.tsx
  core/src/components/cat-button/readme.md
  core/src/index.html
Due: core, angular

Deploying to gh-pages from @ haiilo/catalyst@a8f0ce15776e8b177bd1dad122dfbbfa8f9659dc 🚀
  build/p-10d46b63.entry.js.map
  build/p-218fb888.js
  build/p-6a87de03.js
  build/p-cf866e3b.entry.js
  build/p-cf866e3b.entry.js.map
  index.html
Due: none

test(core): add some e2e tests (#933)
  core/src/components/cat-checkbox/cat-checkbox.e2e.ts
  core/src/components/cat-input/cat-input.e2e.ts
  core/src/components/cat-toggle/cat-toggle.e2e.ts
Due: core

fix(core): remove extra offset(CatDropdown.OFFSET) in dropdown computePosition middleware
  core/src/components/cat-dropdown/cat-dropdown.tsx
Due: core

fix(core): remove extra offset(CatDropdown.OFFSET) in dropdown computePosition middleware (#938)
  core/src/components/cat-dropdown/cat-dropdown.tsx
Due: core

Deploying to gh-pages from @ haiilo/catalyst@f7222d2c74c0f4ff1bb2aa1a080fbd9c49fb6a17 🚀
  build/p-6a87de03.js
  build/p-cf866e3b.entry.js
  build/p-cf866e3b.entry.js.map
  build/p-fb92a2f1.entry.js
  build/p-fb92a2f1.entry.js.map
  build/p-fec3e76a.js
  index.html
Due: none

fix(core): fixes of 14.5.0 release
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-button/cat-button.scss
  core/src/components/cat-button/cat-button.tsx
  core/src/components/cat-button/readme.md
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-dropdown/readme.md
Due: core, angular

fix(core): fix prettier
  core/src/components/cat-dropdown/cat-dropdown.tsx
Due: core

fix(core): fixes of 14.5.0 release (#941)
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-button/cat-button.scss
  core/src/components/cat-button/cat-button.tsx
  core/src/components/cat-button/readme.md
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-dropdown/readme.md
Due: core, angular

Deploying to gh-pages from @ haiilo/catalyst@7e7d53fc84fc481d77d05db70fb476da0f942417 🚀
  build/p-c04eb2d3.entry.js
  build/p-c04eb2d3.entry.js.map
  build/p-c8c94969.js
  build/p-fb92a2f1.entry.js
  build/p-fb92a2f1.entry.js.map
  build/p-fec3e76a.js
  index.html
Due: none

chore: update @angular/core up to 21.2.0 and remove babel
  angular/package.json
  core/package.json
  pnpm-lock.yaml
Due: none

chore: update pnpm-lock.yaml
  core/src/components.d.ts
  core/src/components/cat-dropdown/readme.md
  pnpm-lock.yaml
Due: core

chore: update @angular/core up to 21.2.0 and remove babel (#943)
  angular/package.json
  core/package.json
  core/src/components.d.ts
  core/src/components/cat-dropdown/readme.md
  pnpm-lock.yaml
Due: core

Deploying to gh-pages from @ haiilo/catalyst@9ac3d03dc2ab4c2321c9b73dfcdfbf8277374048 🚀
  build/p-391c58b2.entry.js
  build/p-391c58b2.entry.js.map
  build/p-40c2a877.js
  build/p-c04eb2d3.entry.js
  build/p-c04eb2d3.entry.js.map
  build/p-c8c94969.js
  index.html
Due: none

fix(core): support sub-dropdowns in cat-menu
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu/cat-menu.tsx
  core/src/index.html
Due: core

fix(core): support sub-dropdowns in cat-menu
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-menu-item/readme.md
Due: core, angular

fix(core): return back clickOutsideDeactivates for focus trap
  core/src/components/cat-dropdown/cat-dropdown.tsx
Due: core

fix(core): prettier
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/index.html
Due: core

fix(core): support subdropdown in menu (#945)
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-menu-item/cat-menu-item.tsx
  core/src/components/cat-menu-item/readme.md
  core/src/components/cat-menu/cat-menu.tsx
  core/src/index.html
Due: core, angular

Deploying to gh-pages from @ haiilo/catalyst@b6ddf2c1729d33dd8878a9aa8eca9570b70b20ed 🚀
  build/p-391c58b2.entry.js
  build/p-391c58b2.entry.js.map
  build/p-40c2a877.js
  build/p-4715908b.entry.js
  build/p-4715908b.entry.js.map
  build/p-da6a914f.js
  index.html
Due: none

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: update lock file (#947)
  pnpm-lock.yaml
Due: none

fix(core): listen for global click only when dropdown is open
  core/src/components/cat-dropdown/cat-dropdown.tsx
  core/src/components/cat-menu-item/cat-menu-item.tsx
Due: core

fix(core): prettier
  core/src/components/cat-menu-item/cat-menu-item.tsx
Due: core

fix(core): fix tests
  core/src/components/cat-dropdown/cat-dropdown.spec.tsx
Due: core

Path conditions:
  core: any of: core/src/
  angular: any of: angular/projects/catalyst/src/, angular/projects/catalyst-formly/src/
