Repository haiilo/catalyst: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - core/src/
    carryforward: true
  angular:
    paths:
      - angular/projects/catalyst/src/
      - angular/projects/catalyst-formly/src/
    carryforward: true

feat(core): fix default cat-menu state
  core/src/components.d.ts
  core/src/components/cat-menu/cat-menu.spec.tsx
  core/src/components/cat-menu/cat-menu.tsx
  core/src/components/cat-menu/readme.md
  core/src/index.html
Due: core

feat(core): prettier
  core/src/components/cat-menu/cat-menu.tsx
  core/src/index.html
Due: core

feat(docs): add build script for documentation and update package names
  docs/package.json
  docs/scripts/generate-token-docs.ts
  docs/src/components/copy-button.tsx
  package.json
Due: none

chore: update commitlint configuration and add apphosting.yaml for documentation build
  .commitlintrc.json
  apphosting.yaml
Due: none

chore(docs): skip browser downloads for documentation build
  apphosting.yaml
Due: none

chore(docs): enhance build process by skipping Playwright installation for documentation
  angular/package.json
  apphosting.yaml
Due: none

chore(docs): refine build command by removing unnecessary ellipsis
  apphosting.yaml
Due: none

chore(docs): add environment variable for documentation build process
  apphosting.yaml
Due: none

chore(docs): update documentation build process to include new environment variable
  .firebaserc
  apphosting.yaml
  docs/apphosting.yaml
  firebase.json
Due: none

chore(docs): remove apphosting.yaml as it is no longer needed for the documentation build process
  apphosting.yaml
  docs/apphosting.yaml
Due: none

chore(docs): update apphosting.yaml to refine build and run commands, and specify output directory
  apphosting.yaml
Due: none

chore(docs): update output directory in apphosting.yaml for documentation build
  apphosting.yaml
Due: none

chore(docs): update build command in apphosting.yaml and specify pnpm version in package.json
  apphosting.yaml
  docs/package.json
Due: none

chore(docs): specify Node.js and pnpm engine requirements in package.json
  docs/package.json
Due: none

chore(docs): update apphosting.yaml, and add start script in package.json
  apphosting.yaml
  docs/package.json
  package.json
Due: none

chore(docs): disable auto-installing peer dependencies in .npmrc and pnpm-lock.yaml
  .npmrc
  pnpm-lock.yaml
Due: none

chore(docs): update .npmrc to set resolution mode and specify pnpm version in package.json
  .npmrc
  package.json
Due: none

chore(docs): update pnpm version in package.json and remove resolution mode from .npmrc
  .npmrc
  package.json
Due: none

chore(docs): update pnpm version specification in package.json
  package.json
Due: none

chore(docs): update pnpm version and set frozen-lockfile to false in .npmrc
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

chore(docs): set resolution mode to highest in .npmrc and update pnpm version
  .npmrc
  package.json
Due: none

chore(docs): update pnpm version and remove angular dist directory from pnpm workspace
  package.json
  pnpm-workspace.yaml
Due: none

chore(docs): add dev script
  docs/package.json
  package.json
  release-please-config.json
Due: none

chore: add preinstall script and log agent information in prepare.js
  .pnpmfile.cjs
  debug-install-probe.js
  package.json
  prepare.js
Due: none

chore: remove preinstall and prepare scripts
  angular/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: add preinstall and prepare scripts
  package.json
  pnpm-lock.yaml
Due: none

chore(docs): adjustments
  apphosting.yaml
  docs/Dockerfile
  docs/next.config.mjs
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(docs): update build and run commands in apphosting.yaml
  apphosting.yaml
Due: none

chore(docs): modify apphosting configuration and update root directory in firebase.json
  apphosting.yaml
  firebase.json
Due: none

chore(docs): adjustments
  docs/apphosting.yaml
  firebase.json
  pnpm-lock.yaml
Due: none

chore: fixes
  package.json
  pnpm-lock.yaml
Due: none

fix(core): set cursor default for disabled cat-button host
  core/src/styles/core/sanitize-overwrite.scss
  core/src/styles/index.scss
Due: core

feat(core): add max height for textarea
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-textarea/cat-textarea.tsx
  core/src/index.html
Due: core, angular

feat(core): prettier
  core/src/index.html
Due: core

feat(core): add aria-label to pagination nav element
  core/src/components/cat-pagination/cat-pagination.tsx
  core/src/index.cdn.js
  core/src/index.html
Due: core

feat(core): fix casing for convention
  core/src/components/cat-pagination/cat-pagination.tsx
  core/src/index.cdn.js
  core/src/index.html
Due: core

feat(core): remove redundant role
  core/src/components/cat-pagination/cat-pagination.tsx
Due: core

feat(core): add aria-label to pagination nav element (#926)
  core/src/components/cat-pagination/cat-pagination.tsx
  core/src/index.cdn.js
  core/src/index.html
Due: core

Deploying to gh-pages from @ haiilo/catalyst@7a2e2f85fc9642666d8510c06beb750b21b67026 🚀
  build/p-0df8aaa1.entry.js
  build/p-0df8aaa1.entry.js.map
  build/p-376c1132.js
  build/p-76436f4e.entry.js
  build/p-76436f4e.entry.js.map
  build/p-cd50c882.js
  index.html
Due: none

chore: update angular cli up to 21.1.5
  angular/package.json
  pnpm-lock.yaml
Due: none
