Repository haiilo/catalyst: changes, and which Codecov flags are due for each by the changed paths.
All: core, angular

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  core:
    paths:
      - core/src/
    carryforward: true
  angular:
    paths:
      - angular/projects/catalyst/src/
      - angular/projects/catalyst-formly/src/
    carryforward: true

fix(tokens): fix scss output for design tokens
  tokens/config.js
  tokens/src/color/theme.json
  tokens/src/color/ui.json
  tokens/src/font.json
Due: none

fix(tokens): fix scss output for design tokens (#964)
  tokens/config.js
  tokens/src/color/theme.json
  tokens/src/color/ui.json
  tokens/src/font.json
Due: none

Deploying to gh-pages from @ haiilo/catalyst@9bf960248a66fd5aacecd91cea4c31d5862dc600 🚀
  build/catalyst.css
  build/p-1d7e2f55.css
  build/p-2539f869.entry.js
  build/p-2539f869.entry.js.map
  build/p-5fcc9b61.js
  build/p-9049c713.entry.js
  build/p-9049c713.entry.js.map
  build/p-ab0aa7ab.js
  index.html
Due: none

feat(core): allow to create instance of cat icon registry outside of the catalyst library
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-icon-provider/cat-icon-provider.spec.tsx
  core/src/components/cat-icon-provider/cat-icon-provider.tsx
  core/src/components/cat-icon-provider/readme.md
  core/src/components/cat-icon/__mocks__/cat-icon-registry.ts
  core/src/components/cat-icon/cat-icon-registry.ts
  core/src/components/cat-icon/cat-icon-request.ts
  core/src/components/cat-icon/cat-icon.spec.tsx
  core/src/components/cat-icon/cat-icon.tsx
  core/src/index.ts
  react/src/components/stencil-generated/index.ts
Due: core, angular

chore: update angular version
  angular/package.json
  pnpm-lock.yaml
Due: none

feat(core): add bgOutlined tokens for every theme (except inverted)
  core/src/components/cat-button/cat-button.scss
  pnpm-lock.yaml
  tokens/dist/export/figma.json
  tokens/dist/export/theme.json
  tokens/dist/export/zeroheight.json
  tokens/src/color/theme.json
Due: core

feat(core): adjust bgOutlined values
  tokens/src/color/theme.json
Due: none

feat(core): update hover and active background color calculation
  core/src/components/cat-button/cat-button.scss
Due: core

feat(core): add attachTo to CatIconRegistry
  core/src/components/cat-icon-provider/cat-icon-provider.tsx
  core/src/components/cat-icon/__mocks__/cat-icon-registry.ts
  core/src/components/cat-icon/cat-icon-registry.ts
Due: core

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

ci: upgrade pnpm to v10 to match local tooling
  .github/workflows/angular.yml
  .github/workflows/build-and-publish.yml
  .github/workflows/core.yml
  .github/workflows/deploy.yml
  .github/workflows/react.yml
  .github/workflows/tokens.yml
Due: none

feat(core): remove CatIconProvider
  angular/projects/catalyst/src/lib/directives/proxies.ts
  core/src/components.d.ts
  core/src/components/cat-icon-provider/cat-icon-provider.spec.tsx
  core/src/components/cat-icon-provider/cat-icon-provider.tsx
  core/src/components/cat-icon-provider/readme.md
  core/src/components/cat-icon/cat-icon.tsx
  react/src/components/stencil-generated/index.ts
Due: core, angular

fix(core): disable pointer event for cat-button direct children
  core/src/components/cat-button/cat-button.scss
Due: core

feat(core): replace stopPropagation with stopImmediatePropagation
  core/src/components/cat-icon/cat-icon-registry.ts
  core/src/components/cat-icon/cat-icon-request.ts
  core/src/components/cat-icon/cat-icon.tsx
Due: core

feat(core): make outlined button background customizable (#963)
  core/src/components/cat-button/cat-button.scss
  pnpm-lock.yaml
  tokens/dist/export/figma.json
  tokens/dist/export/theme.json
  tokens/dist/export/zeroheight.json
  tokens/src/color/theme.json
Due: core

Deploying to gh-pages from @ haiilo/catalyst@de09bc60c5886afbf67109d690723bc21d9a59c5 🚀
  build/p-2539f869.entry.js.map
  build/p-5caa2cca.js
  build/p-ab0aa7ab.js
  build/p-f7c062c8.entry.js
  build/p-f7c062c8.entry.js.map
  index.html
Due: none

fix(core): disable pointer event for cat-button direct children (#966)
  core/src/components/cat-button/cat-button.scss
Due: core

Deploying to gh-pages from @ haiilo/catalyst@1d7dbde093f00fed4126500a6c52de18021f6a37 🚀
  build/p-5caa2cca.js
  build/p-7849d62c.js
  build/p-d3951c6a.entry.js
  build/p-d3951c6a.entry.js.map
  build/p-f7c062c8.entry.js.map
  index.html
Due: none

chore: update angular version (#965)
  angular/package.json
  pnpm-lock.yaml
Due: none

chore: update pnpm lock file
  pnpm-lock.yaml
Due: none

chore: update angular/build to 21.2.7
  angular/package.json
  pnpm-lock.yaml
Due: none

chore: update angular/build to 21.2.7 (#967)
  angular/package.json
  pnpm-lock.yaml
Due: none

feat(core): make textarea counter independent from label
  core/src/components/cat-textarea/cat-textarea.tsx
  core/src/index.html
  core/src/styles/_snippets/_form-label.scss
Due: core

feat(core): prettier
  core/src/components/cat-textarea/cat-textarea.tsx
Due: core

fix(core): don't trigger update of tooltip if it's inactive
  core/src/components/cat-tooltip/cat-tooltip.tsx
Due: core

fix(core): don't trigger update of tooltip if it's inactive (#971)
  core/src/components/cat-tooltip/cat-tooltip.tsx
Due: core

Deploying to gh-pages from @ haiilo/catalyst@7f5a4165e488ae00957e9ae778754e9d71ac44be 🚀
  build/assets/icons/js/icons.constants.d.ts
  build/assets/icons/js/icons.constants.js
  build/assets/icons/js/icons.object.d.ts
  build/assets/icons/js/icons.object.js
  build/assets/icons/ts/icons.constants.ts
  build/assets/icons/ts/icons.object.ts
  build/p-141d2ecf.js
  build/p-7849d62c.js
  build/p-c9624e7e.entry.js
  build/p-c9624e7e.entry.js.map
  build/p-d3951c6a.entry.js
  build/p-d3951c6a.entry.js.map
  index.html
Due: none

chore(docs): update apphosting configuration, pnpm version, and enhance alert component description
  apphosting.yaml
  docs/Dockerfile
  docs/content/docs/components/alert.mdx
  package.json
Due: none

chore(docs): refine apphosting configuration with output directory and logging options
  docs/apphosting.yaml
Due: none

chore: remove apphosting and Firebase configuration files
  .firebaserc
  apphosting.yaml
  cloudbuild.yaml
  docs/apphosting.yaml
  firebase.json
Due: none

chore: add diagnostic step to verify build context in cloudbuild.yaml
  cloudbuild.yaml
Due: none

ci: add GitHub Actions workflow for docs deployment
  .github/workflows/deploy-docs.yml
Due: none

ci: use service account key auth and hardcode GCP project ID
  .github/workflows/deploy-docs.yml
Due: none

ci: add workflow_dispatch trigger for manual runs
  .github/workflows/deploy-docs.yml
Due: none

fix(docs): update documentation link text for clarity
  docs/src/app/(home)/page.tsx
Due: none

fix: remove COPY of generated docs/.source from Dockerfile
  docs/Dockerfile
Due: none

fix: correct standalone server path and remove full node_modules copy
  docs/Dockerfile
Due: none

fix(docs): enhance documentation link text for improved user experience
  docs/src/app/(home)/page.tsx
Due: none

fix(docs): simplify documentation link text for clarity
  docs/src/app/(home)/page.tsx
Due: none
